# Android
*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
.env

# General
*.log
.DS_Store 